.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-base: #474d5f;
  --color-background: #DAD9D2;
  --color-dark-background: #96958d;
  --color-dark-font: #000000;
  --color-light-font: #ffffff;
  /* --color-primary: #b3d2ab; */
  --color-primary: #172A3A;
  --color-secondary: #86a8b3;
  --color-tertiary: #856A5D;
  --color-dark-blue: #172A3A;
  --color-aqua-blue: #004346;
  --color-back-color: #6D8EA0;
}